#layout-topbar.flex.items-center.justify-between.px-3 role='navigation' aria-lable='Navbar'
  .inline-flex.items-center.gap-3
    label.btn.btn-square.btn-ghost.btn-sm aria-label='Leftmenu toggle' for='layout-sidebar-toggle-trigger'
      span.iconify.lucide--menu.size-5