<div class="flex flex-col items-center justify-center p-6 mx-auto md:h-full pt:mt-0 dark:bg-gray-900">
    <div class="w-full p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Log in
        </h2>
        <%= button_to "Login with Keycloak",
            user_keycloak_omniauth_authorize_path,
            method: :post, data: { turbo: false },
            class: "px-4 py-2 rounded-lg bg-green-600 text-white" %>
    </div>
</div>